<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Angular JS- Hello World</title>
    <!-- Default css ---->    
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  </head>
  <body ng-app="myApp">
    <div class="container" ng-controller="mainController">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <h1>Angular JS - ngOptions directive</h1>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>For Array data</h2>
            </div>
              
            <div class="panel-heading">
              <p><strong>ng-options</strong>="<strong>label</strong> for <strong>value</strong> in array"</p>
            </div>
            <div class="panel-body">
              <p>selected item is : {{selectedItem}}</p>
              <p> age of selected item is : {{selectedItem.age}} </p>
              <select ng-model="selectedItem" ng-options="item.name for item in items">
              </select>
            </div>
              
              
            <div class="panel-heading">
              <p><strong>ng-options</strong>="<strong>select </strong>as <strong>label</strong> for <strong>value</strong> in array"</p>
            </div>
            <div class="panel-body">
              <p>selected item is : {{selectedItem2}}</p>
              <p> age of selected item is : {{selectedItem2}} </p>
              <select ng-model="selectedItem2" ng-options="item.age as item.name for item in items">
              </select>
            </div>
          </div>
        </div>
          <div class="col-lg-6 col-lg-offset-3">
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>For Object data :</h2>
            </div>
              
            <div class="panel-heading">
              <p><strong>ng-options</strong>="<strong>label</strong> for <strong>(key, value)</strong> in Object"</p>
            </div>
            <div class="panel-body">
              <p>selected item is : {{selectedItem3}}</p>
              <select ng-model="selectedItem3" ng-options="name for (name, value) in object">
              </select>
            </div>
        </div>
        </div>
      </div>
    </div>
    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="js/main-controller.js"></script>
  </body>
</html>